# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:


services:
	router: App\RouterFactory::createRouter

	- Model\FacebookApi(%facebook.appId%, %facebook.appSecret%, %facebook.accessToken%)
	- Model\SentimentAnalyzer
	- Model\PagesRepository
	- Model\PagesManager

	- PHPInsight\Sentiment
	- Nextras\Dbal\Connection(%database%)

	- Components\AddForm\IAddFormFactory
	- Components\PagesList\IPagesListFactory


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
